[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = ../../Lokaltog/vim-easymotion.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = ../../tpope/vim-surround.git
