[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = ../../Lokaltog/vim-easymotion.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = ../../tpope/vim-surround.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = ../../rstacruz/sparkup.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = ../../rstacruz/sparkup.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = ../../msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = ../../scrooloose/nerdtree.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = ../../wincent/Command-T.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = ../../Raimondi/delimitMate.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = ../../scrooloose/nerdcommenter.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = ../../scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = ../../scrooloose/syntastic.git
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = ../../sickill/vim-pasta.git
